

	/*NAVIGATION BAR*/

	.navbar-dark .navbar-nav .nav-link:hover {

	border-bottom:2px solid white; 
	transition:all 0.5s ease-in; 
	/*padding: 1px 0;*/

	}





	/*MY EXPERTISE*/

	.line:after {

		content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 0; /* This will center the border. */
	    width: 100%; /* Change this to whatever width you want. */
	    padding-top: 10px; /* This creates some space between the element and the border. */
	    border-bottom: 1px solid skyblue; /* This creates the border. Replace black with whatever color you want. */
		padding-bottom: 13px;
	}

	/*END OF MY EXPERTISE*/

	/*AFTER h1 tag*/
	
	h1:after {
		content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 0; /* This will center the border. */
	    width: 7%; /* Change this to whatever width you want. */
	    padding-top: 20px; /* This creates some space between the element and the border. */
	    border-bottom: 3px solid #FF8C00; /* This creates the border. Replace black with whatever color you want. */
		}


	/*TO GET AN EXTRA SPACE*/

	h4:after {
		content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 0; /* This will center the border. */
	    width: 7%; /* Change this to whatever width you want. */
	    padding-top: 20px; /* This creates some space between the element and the border. */
	    /*border-bottom: 3px solid #FF8C00;*/ /* This creates the border. Replace black with whatever color you want. */
		}
	

	/*IMAGE*/

	.img-jmbo {
		background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/img4.jpg');
		background-attachment: fixed;
		
	}
	
	.profpic {

		border:1px solid black;
		border-radius: 50%;
		float: right;
		width: 150px;
		height: 150px;
		background-image: url(../img/me41.jpg);
	}

	/*END OF IMAGE*/


	/*BORDER AFTER H3*/
	
	.resume h3:after {
		content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 0; /* This will center the border. */
	    width: 50%; /* Change this to whatever width you want. */
	    padding-top: 20px; /* This creates some space between the element and the border. */
	    border-bottom: 1px solid #C0C0C0; /* This creates the border. Replace black with whatever color you want. */
	}

	/*END OF BORDER*/


    /*PROGRESS BAR*/

	.progress-container {
		margin: 0 35px;
	  	width: 40%;
	  	height: 3px;
	  	background: #ccc;
	}

	.progress-bar {

	  	height: 3px;
	  	background:#FF8C00;
	  	width: 0%;
	}
	
	/*END OF PROGRESS BAR*/


	/*RATING*/

	.rating {
		margin-top: -6px;
		margin-bottom: 30px;
	}

	.rating span {
	  	background: #199cdb;
	    display: inline-block;
	    height: 2px;
	    margin-right: 10px;
	    width: 40px;
	}

	.rating span.transparent {
	    opacity: 0.1;
		background:#888888;
	}

	/*END OF RATING*/

	h5 {
		font-family:"Trebuchet MS", Helvetica, sans-serif;

	}
	
	

	/*INTEREST BLOCK*/

	.intblk{

		margin-top: -180px;

	}

	.interest {
		margin-left: -20px;
	}

	.interest i {
		font-size: 25px;
	}

	.interest li {
		margin-top: -15px;
		display: inline-block;
		text-align: center;
		margin-right: 10px;
	}

	.interest li span {

		border: 1px solid #199cdb;
		border-radius: 50%;
		color: #199cdb;
		display: block;
		font-size: 20px;
		height: 50px;
		line-height: 52px;
		margin:0 auto;
		width: 50px;

	}

	/*END OF INTEREST*/


	/*ASSESTS BLOCK*/


	.assests {

		margin-right: 50px;
		margin-left: -20px;
		margin-top: -30px;

	}

	.assests li {
		display: inline-block;
		background: #f5f5f5;
		width: 100%;
		color: #333333;
		font-size: 20px;
	}

	.assests li span {
		padding: 6px;
		display: inline-block;
	}

	/*END OF ASSESTS*/


	/*LANGUAGE*/
	.lngblk {
		margin-top: -80px;
	}
	/*END OF LNG*/

	.events {
		margin-top: -270px;
	}
	
	.experience {
		margin-top: -50px;
	}




	/*SIDER*/
	
	.badge {
	
	font-size: 15px;
	margin-bottom: 15px;

	}

	/*END OF SLIDER*/


	/*TAB*/

	.tab h2:after {

		content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 0; /* This will center the border. */
	    width: 15%; /* Change this to whatever width you want. */
	    padding-top: 20px; /* This creates some space between the element and the border. */
	    border-bottom: 3px solid purple; /* This creates the border. Replace black with whatever color you want. */

	}

	/*END TAB*/



	/*FORM*/

	.bgimg {
		background-image: url('../img/bg4.jpg');
		background-size: 1130px 800px;
		overflow: hidden;
	}

	#form {
	padding: 40px;
	border: 1px solid rgba(255, 255, 255, .10);;
	background-color:#333333;
	width: 450px;
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/imgg.jpg');
	}
	
	#form a{
		color: white;
		border-style: none;
	}

	#form a:hover {
		background-color: #2B6FE0;
		
	}

	#form  input{
		border-color:rgba(255, 255, 255, .10); 
		background-color: rgba(255, 255, 255, .10);
	}

	#form  input:hover {
		background-color: #ffffff;
		transition: all 0.4s ease-in;
	}

	#form textarea {
		background-color: rgba(255, 255, 255, .10);
		border-color:rgba(255, 255, 255, .10);
	}

	#form  textarea:hover {
		background-color: #ffffff;
		transition: all 0.4s ease-in;
	}

 	/*END OF FORM*/

	/*MAPS*/
		
	/*.mapouter 
	
	{
		text-align:right;
		height:400px;
		width:70%;
		position: absolute;
	}
	
	.gmap_canvas
	
	{
	 	overflow:hidden;
	 	background:none!important;
	 	height:400px;
	 	width:100%;
	 }
	
		
	#map {
		float: right;
		margin-left: 380px;
		margin-bottom: 50px;
		}

	#contact {
		padding: 20px;
		float: left;
		border: 1px solid black;
		width: 380px;
		height: 400px;
		background-color:#CBD2DC;
	}
	*/
	/*END OF MAPS*/

	/*START OF MAP*/
	.mapouter 
	
	{	

		text-align:right;
		height:350px;
		width:100%;

	}
	
	.gmap_canvas
	
	{
		 
	 	overflow:hidden;
	 	background:none!important;
	 	height:350px;
	 	width:100%;
	 }


	/*END OF MAP*/

	

	/*CARD IN CONTACT ME*/

	#info , .card{

		/*background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/map5.jpg');*/

		/*border: 1px solid black;*/
	}

	#contact .card {
		border: none;
	}

	.line1:after {

		content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 0; /* This will center the border. */
	    width: 100%; /* Change this to whatever width you want. */
	    padding-top: 10px; /* This creates some space between the element and the border. */
	    /*border-bottom: 1px solid skyblue;*/ /* This creates the border. Replace black with whatever color you want. */
		padding-bottom: 13px;
	}

	.size {
		font-size: 14px;
	}

	/*END OF CARD IN CONTACT ME*/

	/*START OF FOOTER*/

	footer {
		margin-left:-15px;
		margin-right: -15px;
		height: 110px;
		background-color:#343a40;

	}

	footer img {
		
		float:left;
		margin-top: 25px;
		margin-left:10px;
		width: 70px;
		height: 60px;
	}
	

	footer .clock {
	
		float: right;
		margin-top: -45px;
		margin-right: 15px;
	
		}
	


	h2 .connect:hover {
	
		transition: all 0.2s ease-in;
		letter-spacing: 1px;
		text-decoration: underline;
		cursor: pointer;
	
	}	


	/*.clock:hover {

		background-color: lightgrey;
		border-radius: 40%;
		border-bottom:2px solid lightgrey;
		transition: all 0.3s ease-in;
	
	}*/


 	/*TO GET GREYISH EFFECT*/

	 /*.portimg {
	filter: grayscale(100%);
}

	.portimg:hover {
		filter: grayscale(0);
	}*/




